<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://code.alibabatech.com/schema/dubbo
            http://code.alibabatech.com/schema/dubbo/dubbo.xsd">


    <!-- 数据访问接口 -->
    <bean id="providerService" class="com.analysis.provider.service.impl.ProviderServiceImpl"/>
    <dubbo:service interface="com.analysis.provider.service.ProviderService" ref="providerService"  timeout="1800000"/>


</beans>